.main {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background-color: #212121;
	overflow-y: hidden;
	background-image: url('https://images.unsplash.com/photo-1631988594390-1e11a545ecd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.heading {
	width: 80vw;
	text-align: center;
	font-size: 38px;
	color: #f8f8f8;
	letter-spacing: 1px;
	text-shadow: 2px 2px 4px #dfb3b3;
}

.container {
	opacity: 0.8;
	width: 80vw;
	max-height: 76vh;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	background-color: #f8f8f8;
	box-sizing: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
		rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.form_container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

.tasks{
	/* display: flex;
	align-items: center; */
	width: 100%;
	max-height: 80vh;
	margin-bottom: 10px;
	overflow-y: auto;
}

.input {
	flex-grow: 1;
	height: inherit;
	outline: none;
	border: 1px solid #cfcfd3;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 16px;
	padding-left: 5px;
	box-shadow: 0px 2px 35px 6px rgba(116, 210, 127, 0.3);
	height: 35px;	
}

.input::placeholder{
	color: #cfcfd3;
}

.submit_btn {
	font-size: 16px;
	font-weight: bold;
	width: 100px;
	height: 35px;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #212121;
	color: #f8f8f8;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.task_container {
	width: 100%;
	height: auto;
	padding: 0 5px;
	margin: 5px 0;
	border-radius: 4px;
	border: 1px solid #cfcfd3;
	box-sizing: rgba(244, 240, 240, 0.2) 0px 3px 3px -2px,
		rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.check_box {
	cursor: pointer;
	font-size: 16px;
	outline: none;
}

.task_text {
	flex-grow: 1;
	padding: 0 10px;
	font-size: 14px;
}

.title2{
	font-size: 12px;
}

.line_through {
	text-decoration: line-through;
}

.edit_task,
.remove_task {
	outline: none;
	border: none;
	background: transparent;
	color: #212121;
	font-size: 16px;
	cursor: pointer;
	padding: 0 5px;
}

.no_tasks {
	width: 100%;
	height: 60px;
	font-size: 18px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	border-radius: 5px;
	background-color: #b4cfb975;
	color: #252525a4;
}

.tasks::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

.tasks::-webkit-scrollbar-track {
    border-radius: 5vh;
    background: #f8f8f8;
}

.tasks::-webkit-scrollbar-thumb {
    background: rgba(164, 163, 163, 0.543);
    border-radius: 5vh;
    border: 1px solid #f8f8f8;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: gray;
}

@media only screen and (max-width: 576px) { 

	.main {
		background-image: none;

	}

	.container {
		width: 98vw;
		/* max-width: 300px; */
		padding: 20px 10px;
	}

	.submit_btn {
		font-size: 13px;
	}

	.heading {
		font-size: 24px;
	}
	.task_text {
		font-size: 12px;
	}
	.input {
		max-width: 70vw !important;
	}
} 
